/* 
   BODY
 */

/* Réinitialisation */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Corps de page */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


/* 
   HEADER
*/

.banner {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    text-align: center;
    text-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    transform: translateX(-100px);
    animation: apparition 1s ease-out 0.3s forwards;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* 
   MAIN
*/

/* Conteneur principal */
.container {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

/* Image */
.classe-image {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 50% 50% 80% 20% / 30% 30% 70% 70%;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

/* Titre */
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0;
}

/* Checkbox cachée */
#toggle {
    display: none;
}

/* Triangle */
.triangle {
    display: inline-block;
    font-size: large;
    color: #031c2c;
    transition: 0.3s;
}

/* Liste cachée complètement */
#liste {
    display: none;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

#liste li {
    list-style: none;
}

/* Affichage au clic */
#toggle:checked~#liste {
    display: flex;
}

/* Rotation du triangle */
#toggle:checked~h2 .triangle {
    transform: rotate(180deg);
}

/* Titre cliquable */
h2 label {
    cursor: pointer;
}


/* 
   FOOTER
 */

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.liens {
    font-size: 2.5rem;
    text-decoration: none;
    color: #031c2c;
}

/* Autre projet */
.repo-other {
    color: #163ea2;
}


/* 
   RESPONSIVE
 */

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
}

/* Cacher checkbox burger */
#checkbox {
    display: none;
}

/* Bouton hamburger */
.burger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Mobile */
@media (max-width: 768px) {

    .burger {
        display: block;
    }

    nav {
        display: none;
      
    }

    #checkbox:checked+.burger+nav {
        display: flex; 
        flex-direction: row;
        gap: 15px;
    }

    #checkbox:checked+.burger {
        display: none;
    }
}