/* 
   BODY
 */

/* Réinitialisation */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Corps de page */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color: white;
    padding: 20px;
}


/* 
   HEADER
*/

.banner {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    text-align: center;
    text-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    opacity: 0;
    transform: translateX(-100px);
    animation: apparition 0s ease-out 0.5s forwards;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}